.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top {
  text-align: center;
  background-color: rgba(81, 165, 81, 0.61);
  padding-bottom: 20px;
  padding-top: 20px;
}

.top h1 {
  margin: 0;
}

.space-out {
  padding-left: 20px;
  padding-right: 2px;
}

.App span {
  padding-right: 5px;
}

.lefty {
  position: absolute;
  height: 100vh;
  background-color: crimson;
  width: 10%;
}

.righty {
  position: relative;
  float: right;
  height: 100vh;
  background-color: slateblue;
  width: 10%;
}

.debt-data {
  height: 100vh;
  padding-top: 10px;
  background-color: darkcyan;
}